* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100vh;
  padding: 20px;
}

header {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.home-link {
  text-align: right;
  margin-bottom: 10px;
}

.banner {
  background-color: #f8d7da;
  text-align: center;
  padding: 20px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 60px);
}

.aside-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ccc;
  
}

.login-section {
  background-color: #ccc;
}

.login-button {
  padding: 10px;
  width: 100%;
}

.login-menu {
  list-style: none;
  margin-bottom: 100px;
}

.category {
  list-style: none;
  margin-top: 20px;
}

li {
  margin-bottom: 30px;
}

.category_list{
  text-align: center;
  line-height: 30px;
}

hr{
  margin-bottom: 30px;
}



/* 테이블 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: none; 
  padding: 10px;
  text-align: left;
}


table td, table th {
  border: none; 
}


.write-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.write-button {
  padding: 10px 20px;
}


h2 {
  margin-bottom: 30px;
}
 /* 공지 게시판 */
.notice-row {
  background-color: #f0f8ff;
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.write-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.search-container button {
  background-color: #008CBA;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
